.left-nav-container {
    display: flex;
}

ul > li {
    font-family: 'REM', sans-serif;
    font-weight: 300;
    list-style: none;
    padding-top: 15px;
}

.browse {
    font-family: 'REM', sans-serif;
    font-size: 1.1em;
    list-style: none;
    width: 150px;
    margin-bottom: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(167, 167, 167);
}
