.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.main-nav-links li {
    font-family: 'REM', sans-serif;
    font-weight: 400;
    display: inline;
    padding-right: 50px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}


.logo {
    font-family: 'REM', sans-serif;
    font-weight: 900;
    font-size: 2.75em;
}

.shopping-cart {
    display: inline-block;
}
