.product-main-grid {
    display: grid;
    grid-template-rows: .2fr 1fr;
    justify-content: center;
}

.product-page-nav {
    margin-top: 40px;
}

.product-detail-container {
    display: flex;
    margin-top: 40px;
}

.product-description-container {
    width: 600px;
    border-radius: 5px;
    font-family: 'REM', sans-serif;
    flex-shrink: 0;
    padding: 35px;
    margin-left: 20px;
    background-color: rgba(234, 238, 242, 0.607);
}

.product-img-main {
    height: auto;
    width: auto;
}

.side-img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.main-img-container {
    margin-left: 15px;
    flex-shrink: 0;
}


.product-img-main {
    height: auto;
    width: 100%;
}

.product-img-side {
    height: auto;
    width: 100%;
}

.product-detail-name {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 2.8em;
}

.product-detail-price {
    font-weight: 500;
    font-size: 1.4em;
}

.size-container {

}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.qty-add-container {
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.quantity-counter {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;
}

.increment-button, .decrement-button {
    font-size: .9em;
}

.add-to-bag {
    font-family: 'REM', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    color: white;
    width: 175px;
    background-color: rgb(129, 104, 143);
    border-radius: 20px;
}

.product-details {
    border-top: 1px solid rgba(125, 125, 125, 0.386);
    border-bottom: 1px solid rgba(125, 125, 125, 0.386);
    padding-top: 15px;
    padding-bottom: 15px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    font-weight: 400;
}

.minus, .plus {
    font-weight: 100;
    font-size: 2em;
}

.content-care {
    font-weight: 600;
}

.shipping-returns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    font-weight: 400;
    border-bottom: 1px solid rgba(125, 125, 125, 0.386);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3px;

}
