.main-grid-list-container {
    display: grid;
    grid-template-rows: .05fr 1fr;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.nav-list {
    margin-top: 40px;
}

.product-list-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
}

.side-navigation {
    margin-right: 50px;
}

ul {
    margin: 0;
    padding: 0;
}

.list-main-1 {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
}

.list-main-1-prd {
    padding-left: 15px;

}

.list-middle {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
}

.product-middle {
    padding-left: 10px;
}

.list-main-2 {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
}

.list-main-2-prd {
    padding-left: 15px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-name-container {
    padding-left: 4px;
    padding-bottom: 3px;
}

.product-name {
    font-family: 'REM', sans-serif;
    font-weight: 400;
    cursor: pointer;
    color: black;
}

.product-price {
    font-family: 'REM', sans-serif;
    font-weight: 300;
    font-size: .95em;
    padding-left: 4px;
}
